/lab_1/test.py
/lab_1/LAB1.pdf
/lab_2/.gitignore
/lab_2/CODE_OF_CONDUCT.md
/lab_2/CONTRIBUTING.md
/lab_2/LICENSE.txt
/lab_2/PULL_REQUEST_TEMPLATE.md
/lab_2/README.md
/lab_2/PULL_REQUEST_TEMPLATE.md
/lab_2/Temp
/lab_2/Library
/lab_2/Logs
IoT_BK212_Report_LAB2.zip
LAB2.pdf